---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/gatorjuice/repos?per_page=35
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cbcc5019e70f7cd415bd3fa3428d8f6d6f86831d86ef51e5247c70ff40ef82cb"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/11019755/repos?per_page=35&page=2>; rel="next",
        <https://api.github.com/user/11019755/repos?per_page=35&page=2>; rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1641927835'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":396898192,"node_id":"MDEwOlJlcG9zaXRvcnkzOTY4OTgxOTI=","name":"about_me_api","full_name":"gatorjuice/about_me_api","private":false,"owner":{"login":"gatorjuice","id":11019755,"node_id":"MDQ6VXNlcjExMDE5NzU1","avatar_url":"https://avatars.githubusercontent.com/u/11019755?v=4","gravatar_id":"","url":"https://api.github.com/users/gatorjuice","html_url":"https://github.com/gatorjuice","followers_url":"https://api.github.com/users/gatorjuice/followers","following_url":"https://api.github.com/users/gatorjuice/following{/other_user}","gists_url":"https://api.github.com/users/gatorjuice/gists{/gist_id}","starred_url":"https://api.github.com/users/gatorjuice/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gatorjuice/subscriptions","organizations_url":"https://api.github.com/users/gatorjuice/orgs","repos_url":"https://api.github.com/users/gatorjuice/repos","events_url":"https://api.github.com/users/gatorjuice/events{/privacy}","received_events_url":"https://api.github.com/users/gatorjuice/received_events","type":"User","site_admin":false},"html_url":"https://github.com/gatorjuice/about_me_api","description":"Backend
        API for a simple \"About Me\" App","fork":false,"url":"https://api.github.com/repos/gatorjuice/about_me_api","forks_url":"https://api.github.com/repos/gatorjuice/about_me_api/forks","keys_url":"https://api.github.com/repos/gatorjuice/about_me_api/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gatorjuice/about_me_api/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gatorjuice/about_me_api/teams","hooks_url":"https://api.github.com/repos/gatorjuice/about_me_api/hooks","issue_events_url":"https://api.github.com/repos/gatorjuice/about_me_api/issues/events{/number}","events_url":"https://api.github.com/repos/gatorjuice/about_me_api/events","assignees_url":"https://api.github.com/repos/gatorjuice/about_me_api/assignees{/user}","branches_url":"https://api.github.com/repos/gatorjuice/about_me_api/branches{/branch}","tags_url":"https://api.github.com/repos/gatorjuice/about_me_api/tags","blobs_url":"https://api.github.com/repos/gatorjuice/about_me_api/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gatorjuice/about_me_api/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gatorjuice/about_me_api/git/refs{/sha}","trees_url":"https://api.github.com/repos/gatorjuice/about_me_api/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gatorjuice/about_me_api/statuses/{sha}","languages_url":"https://api.github.com/repos/gatorjuice/about_me_api/languages","stargazers_url":"https://api.github.com/repos/gatorjuice/about_me_api/stargazers","contributors_url":"https://api.github.com/repos/gatorjuice/about_me_api/contributors","subscribers_url":"https://api.github.com/repos/gatorjuice/about_me_api/subscribers","subscription_url":"https://api.github.com/repos/gatorjuice/about_me_api/subscription","commits_url":"https://api.github.com/repos/gatorjuice/about_me_api/commits{/sha}","git_commits_url":"https://api.github.com/repos/gatorjuice/about_me_api/git/commits{/sha}","comments_url":"https://api.github.com/repos/gatorjuice/about_me_api/comments{/number}","issue_comment_url":"https://api.github.com/repos/gatorjuice/about_me_api/issues/comments{/number}","contents_url":"https://api.github.com/repos/gatorjuice/about_me_api/contents/{+path}","compare_url":"https://api.github.com/repos/gatorjuice/about_me_api/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gatorjuice/about_me_api/merges","archive_url":"https://api.github.com/repos/gatorjuice/about_me_api/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gatorjuice/about_me_api/downloads","issues_url":"https://api.github.com/repos/gatorjuice/about_me_api/issues{/number}","pulls_url":"https://api.github.com/repos/gatorjuice/about_me_api/pulls{/number}","milestones_url":"https://api.github.com/repos/gatorjuice/about_me_api/milestones{/number}","notifications_url":"https://api.github.com/repos/gatorjuice/about_me_api/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gatorjuice/about_me_api/labels{/name}","releases_url":"https://api.github.com/repos/gatorjuice/about_me_api/releases{/id}","deployments_url":"https://api.github.com/repos/gatorjuice/about_me_api/deployments","created_at":"2021-08-16T17:25:35Z","updated_at":"2021-12-15T14:34:06Z","pushed_at":"2021-12-15T14:34:03Z","git_url":"git://github.com/gatorjuice/about_me_api.git","ssh_url":"git@github.com:gatorjuice/about_me_api.git","clone_url":"https://github.com/gatorjuice/about_me_api.git","svn_url":"https://github.com/gatorjuice/about_me_api","homepage":"","size":1070,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":0,"open_issues":1,"watchers":1,"default_branch":"main"},{"id":420502995,"node_id":"R_kgDOGRBd0w","name":"about_me_vue","full_name":"gatorjuice/about_me_vue","private":false,"owner":{"login":"gatorjuice","id":11019755,"node_id":"MDQ6VXNlcjExMDE5NzU1","avatar_url":"https://avatars.githubusercontent.com/u/11019755?v=4","gravatar_id":"","url":"https://api.github.com/users/gatorjuice","html_url":"https://github.com/gatorjuice","followers_url":"https://api.github.com/users/gatorjuice/followers","following_url":"https://api.github.com/users/gatorjui[...]
