---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/gatorjuice
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4c88e96d72923a15b27373968f57277d054fbda2ba505d220a67f40a5267cff6"
      Last-Modified:
      - Tue, 16 Nov 2021 01:02:18 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1641927834'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"gatorjuice","id":11019755,"node_id":"MDQ6VXNlcjExMDE5NzU1","avatar_url":"https://avatars.githubusercontent.com/u/11019755?v=4","gravatar_id":"","url":"https://api.github.com/users/gatorjuice","html_url":"https://github.com/gatorjuice","followers_url":"https://api.github.com/users/gatorjuice/followers","following_url":"https://api.github.com/users/gatorjuice/following{/other_user}","gists_url":"https://api.github.com/users/gatorjuice/gists{/gist_id}","starred_url":"https://api.github.com/users/gatorjuice/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gatorjuice/subscriptions","organizations_url":"https://api.github.com/users/gatorjuice/orgs","repos_url":"https://api.github.com/users/gatorjuice/repos","events_url":"https://api.github.com/users/gatorjuice/events{/privacy}","received_events_url":"https://api.github.com/users/gatorjuice/received_events","type":"User","site_admin":false,"name":"Jamie","company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":58,"public_gists":2,"followers":11,"following":7,"created_at":"2015-02-15T19:17:14Z","updated_at":"2021-11-16T01:02:18Z"}'
  recorded_at: Tue, 11 Jan 2022 18:23:38 GMT
recorded_with: VCR 6.0.0
