---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/openapi.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.oai.openapi+json;version=3.0
      Etag:
      - '"ab4ae830def3b48efc7c61e196e4cc31fcebbaf8"'
      X-Correlation-Id:
      - 5536b025
      X-Server-Id:
      - vm-bldr-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3efa1e3f
    body:
      encoding: UTF-8
      string: |-
        {
            "openapi": "3.0.3",
            "info": {
                "title": "weather.gov API",
                "description": "weather.gov API",
                "version": "1.8.5"
            },
            "servers": [
                {
                    "url": "https:\/\/api.weather.gov",
                    "description": "Production server"
                }
            ],
            "paths": {
                "\/alerts": {
                    "get": {
                        "description": "Returns all alerts",
                        "operationId": "alerts_query",
                        "parameters": [
                            {
                                "name": "active",
                                "in": "query",
                                "description": "List only active alerts (use \/alerts\/active endpoints instead)",
                                "deprecated": true,
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            {
                                "$ref": "#\/components\/parameters\/QueryStartTime"
                            },
                            {
                                "$ref": "#\/components\/parameters\/QueryEndTime"
                            },
                            {
                                "$ref": "#\/components\/parameters\/AlertStatus"
                         [...]
- request:
    method: get
    uri: https://api.weather.gov/alerts
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Sun, 21 Aug 2022 15:36:24 GMT
      X-Correlation-Id:
      - 828a6bb
      X-Server-Id:
      - vm-bldr-nids-apiapp7.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3efa281b
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "FeatureCollection",
            "features": [
                {
                    "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.0f070e7c70f6ca951f17beb48f3fa74aa251ac3f.001.1",
                    "type": "Feature",
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                            [
                                [
                                    -90.329999999999998,
                                    35
                                ],
                                [
                                    -90.329999999999998,
                                    35.229999900000003
                                ],
                                [
                                    -90.039999999999992,
                              [...]
