---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/openapi.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.oai.openapi+json;version=3.0
      Etag:
      - '"ab4ae830def3b48efc7c61e196e4cc31fcebbaf8"'
      X-Correlation-Id:
      - 5536b025
      X-Server-Id:
      - vm-bldr-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3efa7288
    body:
      encoding: UTF-8
      string: |-
        {
            "openapi": "3.0.3",
            "info": {
                "title": "weather.gov API",
                "description": "weather.gov API",
                "version": "1.8.5"
            },
            "servers": [
                {
                    "url": "https:\/\/api.weather.gov",
                    "description": "Production server"
                }
            ],
            "paths": {
                "\/alerts": {
                    "get": {
                        "description": "Returns all alerts",
                        "operationId": "alerts_query",
                        "parameters": [
                            {
                                "name": "active",
                                "in": "query",
                                "description": "List only active alerts (use \/alerts\/active endpoints instead)",
                                "deprecated": true,
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            {
                                "$ref": "#\/components\/parameters\/QueryStartTime"
                            },
                            {
                                "$ref": "#\/components\/parameters\/QueryEndTime"
                            },
                            {
                                "$ref": "#\/components\/parameters\/AlertStatus"
                         [...]
- request:
    method: get
    uri: https://api.weather.gov/alerts/active/count
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/ld+json
      Last-Modified:
      - Sun, 21 Aug 2022 15:35:18 GMT
      X-Correlation-Id:
      - 4af89812
      X-Server-Id:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3efa7bff
    body:
      encoding: UTF-8
      string: |-
        {
            "total": 205,
            "land": 200,
            "marine": 143,
            "regions": {
                "AL": 120,
                "GL": 3,
                "GM": 3,
                "PA": 16,
                "PI": 1
            },
            "areas": {
                "AK": 3,
                "AL": 1,
                "AR": 2,
                "AZ": 4,
                "CO": 1,
                "CT": 4,
                "GM": 3,
                "ID": 2,
                "IN": 1,
                "KY": 2,
                "LA": 1,
                "LM": 2,
                "LS": 1,
                "MA": 2,
                "MD": 1,
                "ME": 1,
                "MI": 2,
                "MN": 1,
                "NC": 1,
                "NM": 4,
                "OH": 1,
                "OK": 4,
                "OR": 1,
                "PA": 1,
                "PH": 1,
                "PK": 120,
                "PZ": 16,
                "RI": 1,
                "SC": 1,
                "SD": 3,
                "TX": 17,
                "VA": 6,
                "WA": 1,
                "WV": 1
            },
            "zones": {
                "AKC063": 1,
                "AKC122": 1,
                "AKC195": 1,
                "AKC198": 1,
                "AKC220": 1,
                "AKZ023": 1,
                "AKZ027": 1,
                "AKZ121": 1,
                "AKZ135": 1,
                "ALC131": 1,
                "ARC027": 1,
                "ARC067": 1,
                "ARC073": 1,
                "ARC091": 1,
                "ARC139": 1,
                "ARC147": 1,
                "ARZ070": 1,
                "ARZ071": 1,
                "ARZ072": 1,
                "ARZ073": 1,
                "AZC007": 3,
                "AZC013": 1,
                "AZC019": 1,
                "COC037": 1,
                "COC045": 1,
                "COC081": 1,
                "COC097": 1,
                "COC103": 1,
                "COC107": 1,
                "COZ008": 1,
                "COZ010": 1,
                "COZ013": 1,
                "CTC001": 1,
                "CTC003": 1,
                "CTC005": 1,
                "CTC007": 1,
                "CTC009": 1,
                "CTC011": 1,
                "CTC013": 1,
                "CTC015": 1,
                "CTZ001": 1,
                "CTZ002": 1,
                "CTZ003": 1,
                "CTZ004": 1,
                "CTZ005": 1,
                "CTZ006": 1,
                "CTZ007": 1,
                "CTZ008": 1,
                "CTZ009": 1,
                "CTZ010": 1,
                "CTZ011": 1,
                "CTZ012": 1,
                "CTZ013": 1,
                "GMZ135": 1,
                "GMZ155": 1,
                "GMZ170": 1,
                "GMZ175": 2,
                "GMZ270": 1,
                "IDC037": 1,
                "IDC059": 1,
                "INC089": 1,
                "INC127": 1,
                "INZ001": 1,
                "INZ002": 1,
                "KYC027": 1,
                "KYC085": 1,
                "KYC093": 2,
                "KYC099": 1,
                "KYC123": 1,
                "KYC179": 1,
                "KYZ024": 1,
                "KYZ027": 1,
                "KYZ028": 1,
                "KYZ045": 1,
                "KYZ053": 1,
                "KYZ063": 1,
                "LAC013": 1,
                "LAC015": 1,
                "LAC017": 1,
                "LAC027": 1,
                "LAC031": 1,
                "LAC049": 1,
                "LAC061": 1,
                "LAC073": 1,
                "LAC081": 1,
                "LAC111": 1,
                "LAC119": 1,
                "LAZ001": 1,
                "LAZ002": 1,
                "LAZ003": 1,
                "LAZ004": 1,
                "LAZ005": 1,
                "LAZ006": 1,
                "LAZ010": 1,
                "LAZ011": 1,
                "LAZ012": 1,
                "LAZ013": 1,
                "LAZ014": 1,
                "LMZ844": 1,
                "LMZ845": 1,
                "LMZ846": 1,
                "LMZ847": 1,
                "LMZ848": 1,
                "LMZ849": 1,
                "LSZ143": 1,
                "LSZ144": 1,
                "LSZ145": 1,
                "MAC001": 1,
                "MAC003": 1,
                "MAC005": 1,
                "MAC007": 1,
                "MAC009": 1,
                "MAC011": 1,
                "MAC013": 1,
                "MAC015": 1,
                "MAC017": 1,
                "MAC019": 1,
                "MAC021": 1,
                "MAC023": 1,
                "MAC025": 1,
                "MAC027": 1,
                "MAZ001": 1,
                "MAZ002": 1,
                "MAZ003": 1,
                "MAZ004": 1,
                "MAZ005": 1,
                "MAZ006": 1,
                "MAZ007": 1,
                "MAZ008": 1,
                "MAZ009": 1,
                "MAZ010": 1,
                "MAZ011": 1,
                "MAZ012": 1,
                "MAZ013": 1,
                "MAZ014": 1,
                "MAZ015": 1,
                "MAZ016": 1,
                "MAZ017": 1,
                "MAZ018": 1,
                "MAZ019": 1,
                "MAZ020": 1,
                "MAZ021": 1,
                "MAZ022": 1,
                "MAZ023": 1,
                "MAZ024": 1,
                "MAZ025": 1,
                "MAZ026": 1,
                "MDC031": 1,
                "MEC009": 1,
                "MEC029": 1,
                "MEZ029": 1,
                "MEZ030": 1,
                "MIC005": 1,
                "MIC105": 1,
                "MIC121": 1,
                "MIC127": 1,
                "MIC139": 1,
                "MIC159": 1,
                "MIZ037": 1,
                "MIZ043": 1,
                "MIZ050": 1,
                "MIZ056": 1,
                "MIZ064": 1,
                "MIZ071": 1,
                "MNC051": 1,
                "MNC111": 1,
                "MNC159": 1,
                "MNC167": 1,
                "MNZ029": 1,
                "MNZ030": 1,
                "MNZ031": 1,
                "MNZ032": 1,
                "MNZ040": 1,
                "NCC093": 1,
                "NCC105": 1,
                "NCC123": 1,
                "NCC125": 1,
                "NCC153": 1,
                "NCC165": 1,
                "NCZ074": 1,
                "NCZ075": 1,
                "NCZ076": 1,
                "NCZ084": 1,
                "NCZ085": 1,
                "NCZ086": 1,
                "NMC005": 2,
                "NMC007": 1,
                "NMC017": 1,
                "NMC027": 1,
                "NMC028": 1,
                "NMC033": 1,
                "NMC039": 1,
                "NMC043": 1,
                "NMC047": 1,
                "NMC049": 1,
                "NMC055": 1,
                "NMZ211": 1,
                "NMZ214": 1,
                "NMZ215": 1,
                "NMZ226": 1,
                "OHC035": 1,
                "OKC013": 2,
                "OKC019": 3,
                "OKC031": 2,
                "OKC033": 2,
                "OKC055": 2,
                "OKC057": 2,
                "OKC065": 2,
                "OKC067": 3,
                "OKC069": 1,
                "OKC075": 2,
                "OKC085": 3,
                "OKC095": 3,
                "OKC099": 1,
                "OKC137": 2,
                "OKC141": 2,
                "OKZ033": 2,
                "OKZ034": 2,
                "OKZ035": 2,
                "OKZ036": 2,
                "OKZ037": 2,
                "OKZ038": 2,
                "OKZ039": 2,
                "OKZ044": 2,
                "OKZ045": 2,
                "OKZ046": 2,
                "OKZ050": 2,
                "OKZ051": 2,
                "OKZ052": 2,
                "ORC001": 1,
                "ORC013": 1,
                "ORC021": 1,
                "ORC023": 1,
                "ORC025": 1,
                "ORC049": 1,
                "ORC055": 1,
                "ORC059": 1,
                "ORC061": 1,
                "ORC063": 1,
                "ORC065": 1,
                "ORC069": 1,
                "ORZ641": 1,
                "ORZ642": 1,
                "ORZ643": 1,
                "ORZ644": 1,
                "ORZ645": 1,
                "PAC003": 1,
                "PAC005": 1,
                "PAC063": 1,
                "PAC129": 1,
                "PHZ119": 1,
                "PHZ120": 1,
                "PHZ121": 1,
                "PHZ123": 1,
                "PHZ124": 1,
                "PKZ012": 1,
                "PKZ013": 2,
                "PKZ022": 2,
                "PKZ031": 3,
                "PKZ032": 3,
                "PKZ033": 3,
                "PKZ034": 3,
                "PKZ042": 3,
                "PKZ043": 2,
                "PKZ053": 1,
                "PKZ119": 2,
                "PKZ120": 2,
                "PKZ130": 2,
                "PKZ131": 4,
                "PKZ132": 4,
                "PKZ137": 2,
                "PKZ138": 4,
                "PKZ139": 3,
                "PKZ150": 6,
                "PKZ155": 1,
                "PKZ160": 1,
                "PKZ170": 6,
                "PKZ171": 3,
                "PKZ172": 6,
                "PKZ173": 6,
                "PKZ174": 2,
                "PKZ175": 6,
                "PKZ176": 6,
                "PKZ179": 6,
                "PKZ181": 6,
                "PKZ185": 6,
                "PKZ201": 2,
                "PKZ210": 5,
                "PKZ220": 1,
                "PKZ225": 2,
                "PKZ230": 1,
                "PKZ240": 1,
                "PKZ245": 1,
                "PZZ131": 1,
                "PZZ132": 1,
                "PZZ455": 1,
                "PZZ470": 1,
                "PZZ475": 1,
                "PZZ530": 1,
                "PZZ531": 1,
                "PZZ535": 1,
                "PZZ540": 1,
                "PZZ545": 1,
                "PZZ560": 1,
                "PZZ565": 1,
                "PZZ570": 2,
                "PZZ571": 1,
                "PZZ575": 1,
                "PZZ576": 1,
                "RIC001": 1,
                "RIC003": 1,
                "RIC005": 1,
                "RIC007": 1,
                "RIC009": 1,
                "RIZ001": 1,
                "RIZ002": 1,
                "RIZ003": 1,
                "RIZ004": 1,
                "RIZ005": 1,
                "RIZ006": 1,
                "RIZ007": 1,
                "RIZ008": 1,
                "SCC031": 1,
                "SCC041": 1,
                "SDC005": 1,
                "SDC013": 2,
                "SDC115": 1,
                "TXC007": 3,
                "TXC009": 2,
                "TXC023": 2,
                "TXC025": 1,
                "TXC037": 1,
                "TXC043": 1,
                "TXC057": 3,
                "TXC061": 1,
                "TXC063": 1,
                "TXC067": 1,
                "TXC077": 2,
                "TXC085": 2,
                "TXC097": 3,
                "TXC113": 2,
                "TXC119": 2,
                "TXC121": 2,
                "TXC131": 1,
                "TXC147": 2,
                "TXC155": 2,
                "TXC159": 1,
                "TXC175": 1,
                "TXC181": 2,
                "TXC183": 1,
                "TXC197": 2,
                "TXC203": 1,
                "TXC223": 2,
                "TXC231": 2,
                "TXC237": 2,
                "TXC249": 1,
                "TXC257": 2,
                "TXC261": 1,
                "TXC273": 3,
                "TXC275": 2,
                "TXC277": 2,
                "TXC283": 1,
                "TXC297": 2,
                "TXC311": 3,
                "TXC315": 1,
                "TXC337": 3,
                "TXC343": 1,
                "TXC355": 3,
                "TXC363": 2,
                "TXC365": 1,
                "TXC367": 2,
                "TXC377": 2,
                "TXC379": 2,
                "TXC381": 1,
                "TXC387": 1,
                "TXC391": 1,
                "TXC397": 2,
                "TXC401": 1,
                "TXC409": 1,
                "TXC423": 1,
                "TXC429": 2,
                "TXC439": 2,
                "TXC449": 1,
                "TXC459": 1,
                "TXC467": 2,
                "TXC469": 1,
                "TXC479": 1,
                "TXC485": 2,
                "TXC487": 2,
                "TXC489": 1,
                "TXC497": 2,
                "TXC499": 1,
                "TXC503": 2,
                "TXZ083": 2,
                "TXZ084": 2,
                "TXZ085": 2,
                "TXZ086": 2,
                "TXZ087": 2,
                "TXZ088": 2,
                "TXZ089": 2,
                "TXZ090": 2,
                "TXZ091": 2,
                "TXZ092": 2,
                "TXZ093": 2,
                "TXZ094": 2,
                "TXZ095": 2,
                "TXZ096": 1,
                "TXZ097": 1,
                "TXZ100": 2,
                "TXZ101": 2,
                "TXZ102": 2,
                "TXZ103": 2,
                "TXZ104": 2,
                "TXZ105": 2,
                "TXZ106": 2,
                "TXZ107": 2,
                "TXZ108": 1,
                "TXZ109": 1,
                "TXZ110": 1,
                "TXZ111": 1,
                "TXZ112": 1,
                "TXZ115": 2,
                "TXZ116": 2,
                "TXZ117": 2,
                "TXZ118": 2,
                "TXZ119": 2,
                "TXZ120": 2,
                "TXZ121": 2,
                "TXZ122": 2,
                "TXZ123": 2,
                "TXZ124": 1,
                "TXZ125": 1,
                "TXZ126": 1,
                "TXZ136": 1,
                "TXZ137": 1,
                "TXZ138": 1,
                "TXZ150": 1,
                "TXZ151": 1,
                "TXZ229": 1,
                "TXZ230": 1,
                "TXZ231": 1,
                "TXZ232": 1,
                "TXZ233": 1,
                "TXZ234": 1,
                "TXZ239": 1,
                "TXZ240": 1,
                "TXZ241": 1,
                "TXZ242": 1,
                "TXZ243": 1,
                "TXZ244": 1,
                "TXZ245": 1,
                "TXZ246": 1,
                "TXZ247": 1,
                "TXZ317": 1,
                "TXZ342": 1,
                "TXZ343": 1,
                "TXZ344": 1,
                "TXZ345": 3,
                "TXZ346": 1,
                "TXZ347": 1,
                "TXZ442": 3,
                "TXZ443": 3,
                "TXZ447": 3,
                "TXZ451": 1,
                "TXZ454": 1,
                "TXZ455": 1,
                "VAC003": 1,
                "VAC009": 1,
                "VAC015": 1,
                "VAC049": 1,
                "VAC065": 1,
                "VAC075": 1,
                "VAC109": 1,
                "VAC125": 2,
                "VAC145": 1,
                "VAC163": 1,
                "VAC678": 1,
                "VAC820": 1,
                "VAZ048": 1,
                "VAZ061": 1,
                "VAZ062": 1,
                "VAZ069": 1,
                "VAZ509": 1,
                "VAZ510": 1,
                "WAC001": 1,
                "WAC003": 1,
                "WAC005": 1,
                "WAC013": 1,
                "WAC021": 1,
                "WAC023": 1,
                "WAC025": 1,
                "WAC039": 1,
                "WAC059": 1,
                "WAC071": 1,
                "WAC075": 1,
                "WAC077": 1,
                "WAZ691": 1,
                "WAZ692": 1,
                "WAZ693": 1,
                "WVC005": 1,
                "WVC043": 1,
                "WVC045": 1
            }
        }
  recorded_at: Sun, 21 Aug 2022 15:36:29 GMT
recorded_with: VCR 6.1.0
