---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/openapi.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.oai.openapi+json;version=3.0
      Etag:
      - '"ab4ae830def3b48efc7c61e196e4cc31fcebbaf8"'
      X-Correlation-Id:
      - 5536b025
      X-Server-Id:
      - vm-bldr-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 2dbf360e
    body:
      encoding: UTF-8
      string: |-
        {
            "openapi": "3.0.3",
            "info": {
                "title": "weather.gov API",
                "description": "weather.gov API",
                "version": "1.8.5"
            },
            "servers": [
                {
                    "url": "https:\/\/api.weather.gov",
                    "description": "Production server"
                }
            ],
            "paths": {
                "\/alerts": {
                    "get": {
                        "description": "Returns all alerts",
                        "operationId": "alerts_query",
                        "parameters": [
                            {
                                "name": "active",
                                "in": "query",
                                "description": "List only active alerts (use \/alerts\/active endpoints instead)",
                                "deprecated": true,
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            {
                                "$ref": "#\/components\/parameters\/QueryStartTime"
                            },
                            {
                                "$ref": "#\/components\/parameters\/QueryEndTime"
                            },
                            {
                                "$ref": "#\/components\/parameters\/AlertStatus"
                         [...]
- request:
    method: get
    uri: https://api.weather.gov/alerts/active/region/as
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - c4a854e
      X-Server-Id:
      - vm-bldr-nids-apiapp8.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3f138761
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "c4a854e",
            "parameterErrors": [
                {
                    "parameter": "path.region",
                    "message": "Does not have a value in the enumeration [\"AL\",\"AT\",\"GL\",\"GM\",\"PA\",\"PI\"]"
                }
            ],
            "title": "Not Found",
            "type": "https://api.weather.gov/problems/NotFound",
            "status": 404,
            "detail": "Not Found",
            "instance": "https://api.weather.gov/requests/c4a854e"
        }
  recorded_at: Sun, 21 Aug 2022 15:39:33 GMT
- request:
    method: get
    uri: https://api.weather.gov/alerts/active/region/AL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Mon, 22 Aug 2022 13:13:54 GMT
      X-Correlation-Id:
      - 5ebde538
      X-Server-Id:
      - vm-bldr-nids-apiapp7.ncep.noaa.gov
      X-Edge-Request-Id:
      - bbb6d13
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "FeatureCollection",
            "features": [
                {
                    "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.0c3ddc349380a650047743ce81c30ef477d1c1a1.005.1",
                    "type": "Feature",
                    "geometry": null,
                    "properties": {
                        "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.0c3ddc349380a650047743ce81c30ef477d1c1a1.005.1",
                        "@type": "wx:Alert",
                        "id": "urn:oid:2.49.0.1.840.0.0c3ddc349380a650047743ce81c30ef477d1c1a1.005.1",
                        "areaDesc": "Cape Halkett to Flaxman Island",
                        "geocode": {
                            "SAME": [
                                "058240"
                            ],
                            "UGC": [
                                "PKZ240"
                            ]
                        },
                        "affectedZones": [
                            "https://api.weather.gov/zones/forecast/PKZ240"
                        ],
                        "references": [],
                        "sent": "2022-08-22T05:13:00-08:00",
                        "effective": "2022-08-22T05:13:00-08:00",
                        "onset": "2022-08-22T05:00:00-08:00",
                        "expires": "2022-08-22T18:15:00-08:00",
                        "ends": "2022-08-23T17:00:00-08:00",
                        "status": "Actual",
                        "messageType": "Alert",
                        "category": "Met",
                        "severity": "Minor",
                        "certainty": "Likely",
                        "urgency": "Expected",
                        "event": "Small Craft Advisory",
                        "sender": "w-nws.webmaster@noaa.gov",
                        "senderName": "NWS Fairbanks AK",
                        "headline": "Small Craft Advisory issued August 22 at 5:13AM AKDT until August 23 at 5:00PM AKDT by NWS Fairbanks AK",
                        "description": ".TODAY...E winds 30 kt. Seas 8 ft. Fog and freezing fog.\n.TONIGHT...E winds 30 kt. Seas 10 ft. Fog.\n.TUE...E winds 30 kt. Seas 9 ft. Fog.\n.TUE NIGHT...E winds 25 kt. Seas 7 ft. Fog.\n.WED...S winds 15 kt. Seas 4 ft. Fog.\n.WED NIGHT...E winds 15 kt. Seas 4 ft.\n.THU...E winds 15 kt. Seas 3 ft.\n.FRI...E winds 20 kt. Seas 4 ft.",
                        "instruction": null,
                        "response": "Avoid",
                        "parameters": {
                            "AWIPSidentifier": [
                                "CWFNSB"
                            ],
                            "WMOidentifier": [
                                "FZAK51 PAFG 221313"
                            ],
                            "NWSheadline": [
                                "SMALL CRAFT ADVISORY IN EFFECT THROUGH EARLY TUESDAY MORNING"
                            ],
                            "BLOCKCHANNEL": [
                                "EAS",
                                "NWEM",
                                "CMAS"
                            ],
                            "VTEC": [
                                "/O.NEW.PAFG.SC.Y.6675.220822T1300Z-220824T0100Z/"
                            ],
                            "eventEndingTime": [
                                "2022-08-24T01:00:00+00:00"
                            ]
                        }
                    }
                },
                {
                    "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.0c3ddc349380a650047743ce81c30ef477d1c1a1.003.1",
                    "type": "Feature",
                    "geometry": null,
                    "properties": {
                        "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1[...]
