---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/openapi.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.oai.openapi+json;version=3.0
      Etag:
      - '"ab4ae830def3b48efc7c61e196e4cc31fcebbaf8"'
      X-Correlation-Id:
      - 5536b025
      X-Server-Id:
      - vm-bldr-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3efa0a1c
    body:
      encoding: UTF-8
      string: |-
        {
            "openapi": "3.0.3",
            "info": {
                "title": "weather.gov API",
                "description": "weather.gov API",
                "version": "1.8.5"
            },
            "servers": [
                {
                    "url": "https:\/\/api.weather.gov",
                    "description": "Production server"
                }
            ],
            "paths": {
                "\/alerts": {
                    "get": {
                        "description": "Returns all alerts",
                        "operationId": "alerts_query",
                        "parameters": [
                            {
                                "name": "active",
                                "in": "query",
                                "description": "List only active alerts (use \/alerts\/active endpoints instead)",
                                "deprecated": true,
                                "schema": {
                                    "type": "boolean"
                                }
                            },
                            {
                                "$ref": "#\/components\/parameters\/QueryStartTime"
                            },
                            {
                                "$ref": "#\/components\/parameters\/QueryEndTime"
                            },
                            {
                                "$ref": "#\/components\/parameters\/AlertStatus"
                         [...]
- request:
    method: get
    uri: https://api.weather.gov/alerts/active
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Sun, 21 Aug 2022 15:35:18 GMT
      X-Correlation-Id:
      - 59ed602d
      X-Server-Id:
      - vm-bldr-nids-apiapp10.ncep.noaa.gov
      X-Edge-Request-Id:
      - 3efa14cb
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "FeatureCollection",
            "features": [
                {
                    "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0-KEEPALIVE-58763",
                    "type": "Feature",
                    "geometry": null,
                    "properties": {
                        "@id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0-KEEPALIVE-58763",
                        "@type": "wx:Alert",
                        "id": "urn:oid:2.49.0.1.840.0-KEEPALIVE-58763",
                        "areaDesc": "Montgomery",
                        "geocode": {
                            "SAME": [
                                "024031"
                            ],
                            "UGC": [
                                "MDC031"
                            ]
                        },
                        "affectedZones": [
                            "https://api.weather.gov/zones/county/MDC031"
                        ],
                        "references": [],
                        "sent": "2022-08-21T15:35:15+00:00",
                        "effective": "2022-08-21T15:35:15+00:00",
                        "onset": null,
                        "expires": "2022-08-21T15:45:15+00:00",
                        "ends": null,
                        "status": "Test",
                        "messageType": "Alert",
                        "category": "Met",
                        "severity": "Unknown",
                        "certainty": "Unknown",
                        "urgency": "Unknown",
                        "event": "Test Message",
                        "sender": "w-nws.webmaster@noaa.gov",
                        "senderName": "NWS",
                        "headline": null,
                        "description": "Monitoring message only. Please disregard.",
                        "instruction": "Monitoring message only. Please disregard.",
                        "response": "None",
                        "parameters": {
                            "AWIPSidentifier": [
                                "KEPWBC"
                            ],
                            "WMOidentifier": [
                                "NZUS91 KWBC 211535"
                            ],
                            "BLOCKCHANNEL": [
                                "CMAS",
                                "EAS",
                                "NWEM"
                            ]
                        }
                    }
                },
                {
                    "id": "https://api.weather.gov/alerts/urn:oid:2.49.0.1.840.0.dd662e7233a46b8183e1584479c9a0f08f02eb9a.001.1",
                    "type": "Feature",
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [
                            [
                                [
                                    -79.120000000000005,
                                    37.789999999999999
                                ],
                                [
                                    -79.109999999999999,
                                    37.789999999999999
                                ],
                                [
                                    -79.090000000000003,
              [...]
